<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900&display=swap" rel="stylesheet">{{!google fonts}}
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{nombrePagina}}</title>{{!nombrePagina - variable}}
</head>
<body>
    <div class="nombre-sitio contenedor">
        <h1>
            <a href="/">devJobs</a>
        </h1>

        {{#if barra}}
            <div class="buscador">
                <form action="#">
                    <input type="text" class="buscar"> {{!textField}}
                    <input type="submit" class="Buscar">{{!enviar (lupa)}}
                </form>
            </div>
        {{/if}}
        
    </div>

    <header class="site-header contenedor separador">
        {{!nombrePagina, tagline, boton -> variables que legan desde el controlador(homeController)}}
        <h2>{{nombrePagina}}</h2>
        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}

        {{#if boton}}
            <a href="/vacantes/nueva" class="btn btn-azul"> Publicar Nueva Vacante</a>
        {{/if}}
    </header>
    
    <div class="contenido-principal contenedor">
        {{#if mensajes}} {{!mensajes de indesx.js}}
            <div class="alertas">
                {{#mostrarAlertas mensajes}} {{!metodo de helpers.js}}
                    <li>do</li>
                {{/mostrarAlertas}}
            </div>
        {{/if}}
        {{{body}}}  {{! Triple llave para imprimir el html -> body desde home.handlebars}}
    </div>
    
    <script src="/js/trix.js"></script>
    <script src="/dist/bundle.js"></script>{{! todo lo escrito en el app se genera en el bundle para ser parte de la aplicacion}}
</body>
</html>